# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# OS
.DS_Store
Thumbs.db

# Dataset files (recommended not to commit)
data/cifar-10-batches-py/
data/*.tar.gz

# Outputs (keep images, optionally ignore model weights if needed)
# outputs/best_model.pth
